CMakeCache.txt
CMakeFiles/
Makefile
cmake-build-debug/
cmake_install.cmake
cpp.cbp
solver
cp.txt
.DS_Store
*.iml
target/
build/
.idea/
*.ipynb
.ipynb_checkpoints
__pycache__/
.pytest_cache/
output/
*.png
*.lyx~
*.pdf
*.so
*.html
*.html
*.c
*.cpython*
*.prof
